@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
  background-color: #A47da4;
  font-family: 'Merriweather', serif;
}
h1 {
  text-align: center;
  color: white;
  font-size:50px;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: fadeInDown;
}
div {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 150px;
  width:100%;
}
.button {
  padding: 10px;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  text-align: center;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: pulse;
}
a.button{
  color: white;
  text-decoration: none;
}
a.button:hover {
  background-color: white;
  color:#A47da4;
}
.no-button {
  width: 200px;
  border: 1px solid rgb(191, 191, 191);
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  text-align: center;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: pulse;
}
a.no-button{
  color: rgb(191, 191, 191);
  text-decoration: none;
}
