@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
  background-color: #A47da4;
  font-family: 'Merriweather', serif;
}
h1 {
  text-align: center;
  color: white;
  font-size:50px;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: fadeInDown;
}
div {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 100px;
  width:100%;
}
.button {
  cursor:pointer;
  padding: 10px;
  width: 200px;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  text-align: center;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: pulse;
}
a.button{
  color: white;
  text-decoration: none;
}
a.button:hover {
  background-color: white;
  color:#A47da4;
}
.no-button {
  cursor:wait;
  width: 200px;
  border: 1px solid rgb(191, 191, 191);
  padding: 10px;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  text-align: center;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: pulse;
}
a.no-button{
  color: rgb(191, 191, 191);
  text-decoration: none;
}
.logo {
  display: inline-block;
  border-radius: 50px;
  width: 100px;
}
#inspiringfigures, #resources, #services {
  display: none;
  background: #FFFFFF;
  margin-top: 0px;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  color: #A47da4;
}
li a {
  line-height: 10px;
  color: #A47da4;
  text-decoration: none;
}
li a:hover {
  border-bottom: 3px solid #A47da4;
}